.scroll{
    height:10vh;
    position: relative;
    padding-bottom:20px;
    &:before{
        width:100%;
        position: fixed;
        content:'';
        height: 40px;
        box-shadow: inset 0px 4px 5px 0px #fafafa;
    }
}
.ayat{
    //font-family: system-ui;
    line-height: 4rem !important;
    &--blur{
        filter:blur(1rem);   
    }
}
.bottom{
    position:absolute;
    position: absolute;
    width: 100%;
    display: block;
    right: 20px;
    bottom: 30px;
}