@font-face {
    font-family: arabicfont;
    src: url("./../fonts//fonts.ttf");
}

.scroll{
    height:36vh;
    position: relative;
    padding-bottom:20px;
    &:before{
        // width:100%;
        // position: fixed;
        // content:'';
        // height: 20px;
        // box-shadow: inset -3px 10px 6px 0px #fafafa;
    }
}
.ayat{
    //font-family: system-ui;
    font-family: arabicfont;
    line-height: 4rem !important;
    &--blur{
        filter:blur(1rem);   
    }
}
.bottom{
    position: absolute;
    position: absolute;
    width: 100%;
    display: block;
    right: 0px;
    bottom: 16px;
    left: 0px;
    padding-left: 14px;
    padding-right: 14px;
}

.hide{
    opacity: 0;
}