.scroll{
    height:55vh;
    position: relative;
    padding-bottom:20px;
    &:before{
        width:100%;
        position: fixed;
        content:'';
        height: 40px;
        box-shadow: inset 0px 4px 5px 0px #fafafa;
    }
    &:after{
        width:100%;
        position: fixed;
        bottom:50px;
        content:'';
        height: 40px;
        box-shadow: inset 0px 40px 16px 0px #fafafa;
        transform: rotate(180deg);
    }
}

.arrow{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    img{
        width:15px;
        height:7px;
    }
}